<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h2>Form</h2>
    <hr />

    <div class="container">
        <form th:action="@{processForm}" th:object="${user}" method="post">

            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{userdetails.id}" >
            <input type="hidden" th:field="*{active}" >

            <label for="username" ></label>
            <input th:field="*{userName}" id="username" placeholder="username"
                   class="form-control mb-4 col-4"/>

            <label for="password" ></label>
            <input th:field="*{password}" id="password" placeholder="Password"
                   class="form-control mb-4 col-4"/>

            <label for="firstName" ></label>
            <input th:field="*{userdetails.firstName}" id="firstName" placeholder="FirstName"
                   class="form-control mb-4 col-4" />

            <label for="lastName" ></label>
            <input th:field="*{userdetails.lastName}" id="lastName" placeholder="LastName"
                   class="form-control mb-4 col-4"/>

            <label for="height" ></label>
            <input th:field="*{userdetails.height}" id="height" placeholder="Height"
                   class="form-control mb-4 col-4"/>

            <label for="weight" ></label>
            <input th:field="*{userdetails.weight}" id="weight" placeholder="Weight"
                   class="form-control mb-4 col-4"/>


            <label>
                <select th:field="*{role.role}" >
                    <option value="0">Select Options</option>
                    <option th:each="roles : ${rolesList}" th:value="${roles.role}" th:text="${roles.role}" ></option>
                </select>
            </label>

            <br/>


            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        <h2>
            <a th:href="@{list}">Back to List</a>
        </h2>


    </div>


</body>
</html>