<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/CssJs/nav.css" th:href="@{/CssJs/nav.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Navbar</title>
</head>
<body>
  <nav id="topnav" >
  <div style="display: inline-block" >
    <a id="logo" class="nav-link" href="#">Profile</a>
    <div sec:authorize="hasAuthority('ADMIN')">
      <a class="nav-link" th:href="@{/admin/list}">View All User</a>
      <a class="nav-link" href="#">Link 2</a>
      <a class="nav-link" href="#">Link 3</a>
      <a class="nav-link" href="#">Link 4</a>
      <a class="nav-link" href="#">Link 5</a>

    </div>
    <a id="about" class="nav-link" href="#">About Me</a>
  </div>

  </nav>


</body>
</html>